.banner-services {
    display: flex;
    width: 100%;
    height: auto;
    padding: 5rem 0 5rem;
    gap: 4rem;
    background: rgb(20,19,23);
    background: -moz-radial-gradient(
        circle, 
        rgba(20,19,23,1) 0%, 
        rgba(11,11,13,1) 65%
    );
    background: -webkit-radial-gradient(
        circle, 
        rgba(20,19,23,1) 0%, 
        rgba(11,11,13,1) 65%
    );
    background: radial-gradient(
        circle, 
        rgba(20,19,23,1) 0%, 
        rgba(11,11,13,1) 65%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#141317",
        endColorstr="#0b0b0d",
        GradientType=1
    );
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .top-banner-services {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        gap: 8px;
    }

        .top-banner-services h1 {
            font-size: 5rem;
            font-weight: 500;
        }

        .top-banner-services h2 {
            font-size: 19px;
            width: 40%;
            font-weight: 500;
        }

    .btm-banner-services {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        gap: 6rem;
    }

        .item-btm-banner-services {
            display: flex;
            width: auto;
            height: auto;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 20px;
        }

            .circle-item-btm-banner-services {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

                .circle-dashboard-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(27, 40, 69, 0.5),
                    0 0 50px 25px rgba(27, 40, 69, 0.2);
                }

                .circle-products-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(34, 84, 61, 0.5), 
                    0 0 50px 25px rgba(34, 84, 61, 0.2);
                }

                .circle-categories-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(102, 90, 51, 0.5),
                    0 0 50px 25px rgba(102, 90, 51, 0.2);
                }

                .circle-invoices-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(74, 43, 47, 0.5),
                    0 0 50px 25px rgba(74, 43, 47, 0.2);
                }

                .circle-sales-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(60, 42, 78, 0.5),
                    0 0 50px 25px rgba(60, 42, 78, 0.2);
                }

                .circle-customers-btm-banner-services {
                    box-shadow: 0 0 8px 8px rgba(75, 33, 66, 0.5),
                    0 0 50px 25px rgba(75, 33, 66, 0.2);
                }

                .circle-item-btm-banner-services svg {
                    color: white !important;
                    background: transparent;
                    width: 35px;
                    height: 35px;
                }

            .item-btm-banner-services h2 {
                opacity: 0.9;
                font-size: 15px;
                font-weight: 400;
            }

    .btn-start-now-banner-services {
        display: flex;
        width: auto;
        height: auto;
        padding: 1rem 2.5rem 1rem;
        border: 1px solid white;
        border-radius: 12px;
        font-size: 16px;
    }

        .btn-start-now-banner-services:hover {
            background-color: #212026;
            border: 1px solid #212026;
            transition: .3s ease-in;
        }

.app-features {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    padding: 4rem 2rem 4rem;
    flex-direction: column;
}

    .app-features h1 {
        font-size: 1.8rem;
    }

    .items-app-features {
        display: flex;
        width: 100%;
        height: auto;
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        flex-wrap: wrap;
    }

        .item-app-features {
            display: flex;
            width: 450px;
            flex-basis: 450px;
            height: auto;
            min-height: 200px;
            border-radius: 10px;
            padding: 2.5rem 2rem 2.5rem;
            border: 1px solid #89888C;
            flex-direction: column;
            cursor: pointer;
        }

            .top-item-app-features {
                display: flex;
                width: 100%;
                height: auto;
                align-items: flex-end;
            }

                .top-item-app-features svg {
                    width: 28px;
                    height: 28px;
                    background: transparent;
                    color: white !important;
                }

                .top-item-app-features h2 {
                    font-size: 22px;
                    margin-left: .7rem;
                    font-weight: 450;
                }

            .btm-item-app-features {
                display: flex;
                width: 100%;
                height: auto;
                margin-top: 1.5rem;
            }

                .btm-item-app-features p {
                    line-height: 24px;
                    font-size: 16px;
                }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .banner-services {
        padding: 4.5rem 0 4.5rem;
    }

    .top-banner-services {
        gap: 5px;
    }

    .top-banner-services h1 {
        font-size: 4.6rem;
    }

    .top-banner-services h2 {
        font-size: 16px;
    }

    .btm-banner-services {
        flex-wrap: wrap;
        padding: 0 5rem 0;
    }

    .circle-item-btm-banner-services {
        width: 70px;
        height: 70px;
        flex-basis: 70px;
    }

    .circle-item-btm-banner-services img {
        width: 28px;
        height: 28px;
    }

    .item-btm-banner-services h2,
    .btn-start-now-banner-services {
        font-size: 14px;
    }

    .btn-start-now-banner-services {
        padding: 0.8rem 2rem 0.8rem;
    }

    .app-features {
        padding: 4rem 5rem 4rem;
    }

    .app-features h1 {
        font-size: 1.6rem;
    }

    .item-app-features {
        width: 360px;
        flex-basis: 360px;
        padding: 2rem;
    }

    .top-item-app-features img {
        width: 25px;
        height: 25px;
    }

    .top-item-app-features h2 {
        font-size: 18px;
    }

    .btm-item-app-features p {
        font-size: 15px;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .banner-services {
        background: rgb(20,19,23);
        background: -moz-radial-gradient(
            circle, 
            rgba(20,19,23,1) 25%, 
            rgba(11,11,13,1) 65%
        );
        background: -webkit-radial-gradient(
            circle, 
            rgba(20,19,23,1) 25%, 
            rgba(11,11,13,1) 65%
        );
        background: radial-gradient(
            circle, 
            rgba(20,19,23,1) 25%, 
            rgba(11,11,13,1) 65%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#141317",
            endColorstr="#0b0b0d",
            GradientType=1
        );
    }

    .btm-banner-services {
        padding: 0 13rem 0;
    }

    .circle-categories-btm-banner-services {
        width: 80px;
        height: 80px;
        flex-basis: 80px;
    }

    .app-features h1 {
        font-size: 1.5rem;
    }

    .items-app-features {
        gap: 2.5rem;
    }

    .item-app-features {
        width: 370px;
        flex-basis: 370px;
        padding: 2rem;
    }

    .top-item-app-features img {
        width: 22px;
        height: 22px;
    }

    .top-item-app-features h2 {
        font-size: 17px;
    }

    .btm-item-app-features p {
        font-size: 14px;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .btm-banner-services {
        padding: 0 6rem 0;
    }

    .circle-categories-btm-banner-services {
        width: 75px;
        height: 75px;
        flex-basis: 75px;
    }

    .app-features {
        padding: 3.5rem 2rem 4rem;
    }

    .app-features h1 {
        text-align: center;
    }

    .items-app-features {
        margin-top: 2.5rem;
    }

    .item-app-features {
        width: 300px;
        flex-basis: 300px;
        padding: 2rem;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .banner-services {
        padding: 3rem 0 3rem;
        background: rgb(19,21,23);
        background: -moz-linear-gradient(
            0deg, 
            rgba(19,21,23,1) 0%,
            rgba(11,11,13,1) 100%
        );
        background: -webkit-linear-gradient(
            0deg, 
            rgba(19,21,23,1) 0%, 
            rgba(11,11,13,1) 100%
        );
        background: linear-gradient(
            0deg, 
            rgba(19,21,23,1) 0%, 
            rgba(11,11,13,1) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient(
            startColorstr="#131517",
            endColorstr="#0b0b0d",
            GradientType=1
        );
    }

    .top-banner-services {
        gap: 1rem;
    }

    .top-banner-services h1 {
        font-size: 3.5rem;
    }

    .top-banner-services h2 {
        font-size: 14px;
        width: 70%;
    }

    .btm-banner-services {
        padding: 0 4rem 0;
        gap: 4rem;
    }

    .circle-categories-btm-banner-services {
        width: 65px;
        height: 65px;
        flex-basis: 65px;
    }
}