.tr-no-category,
.td-no-category {
    width: 15%;
    min-width: 15%;
}

.tr-name-category,
.tr-options-category,
.td-name-category,
.td-options-category {
    width: 30%;
    min-width: 30%;
}

.tr-description-category,
.td-description-category {
    min-width: 25%;
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .tr-name-category,
    .tr-options-category {
        min-width: 50%;
    }

    .td-name-category,
    .td-options-category {
        min-width: 50%;
    }
}