.nav-bar {
    display: flex;
    position: fixed;
    width: 100%;
    height: auto;
    background: #212026;
    border-bottom: 1px solid #89888C;
    justify-content: flex-end;
    align-items: center;
}

    .cont-btn-menu {
        display: none;
        width: auto;
        height: auto;
    }

        .btn-menu {
        display: flex;
        background: transparent;
        border: none;
        color: #F2F2F2 !important;
        }

        .btn-menu svg {
        width: 30px;
        height: 30px;
        }

.cont-btns-user {
    display: flex;
    width: auto;
}

    .btn-user-nav-bar {
        display: flex;
        background: transparent;
        width: auto;
        height: auto;
        color: #F2F2F2 !important;
        border: none;
        align-items: center;
        cursor: pointer;
        padding: 1.2rem 1.5rem 1.2rem;
    }

        .btn-user-nav-bar svg {
            width: 28px;
            height: 28px;
        }

        .btn-user-nav-bar h2 {
            font-size: 16px;
            font-weight: 400;
            margin-left: 10px;
            margin-right: 3px;
        }

        .btn-profile-nav-bar {
            border-left: 1px solid #89888C;
        }

.dropdown-user {
    display: flex;
    width: auto;
    min-width: 270px;
    height: auto;
    background-color: #212026;
    position: absolute;
    top: 0rem;
    right: 2rem;
    border: 1px solid #89888C;
    border-radius: 5px;
    color: #F2F2F2;
    transition: 0.3s ease all;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 0;
    align-items: center;
    flex-direction: column;
}

    .top-dropdown {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        border-bottom: 1px solid #89888C;
        padding: 1.5rem 2rem 1.5rem;
    }

    .top-dropdown svg {
        width: 75px;
        height: 75px;
    }

    .top-dropdown h2 {
        font-size: 18px;
        font-weight: 400;
        margin-top: 8px;
    }

    .nav-dropdown {
        display: flex;
        width: 100%;
        height: auto;
        padding: 15px;
        flex-direction: column;
        gap: 10px;
    }

        .item-nav-dropdown {
            display: flex;
            width: 100%;
            height: auto;
            padding: 12px 1rem 12px;
            border-radius: 8px;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: #F2F2F2 !important;
            font-size: 16px;
            transition: 0.25s ease-in-out;
            background-color: #212026;
            border: none;
            outline: none;
            cursor: pointer;
        }

            .item-nav-dropdown svg {
                width: 23px;
                height: 23px;
            }

            .item-nav-dropdown:hover {
                background-color: #0B0B0D;
                transition: 0.25s ease-in;
            }

    .dropdown-user.active {
        opacity: 1;
        top: 5rem;
        transition: 0.3s ease all;
        transform: translate(0) !important;
    }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .btn-user-nav-bar {
        padding: 1rem 1.5rem 1rem;
    }

    .btn-user-nav-bar svg {
        width: 25px;
        height: 25px;
    }

    .btn-user-nav-bar h2 {
        font-size: 15px;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 3px;
    }

    .dropdown-user {
        min-width: 260px;
    }

    .top-dropdown {
        padding: 1.2rem 2rem 1.2rem;
    }

    .top-dropdown svg {
        width: 65px;
        height: 65px;
    }

    .top-dropdown h2 {
        font-size: 17px;
    }

    .nav-dropdown {
        padding: 15px;
        gap: 10px;
    }

    .item-nav-dropdown {
        border-radius: 6px;
        font-size: 15px;
        align-items: flex-start;
    }

    .item-nav-dropdown svg {
        width: 21px;
        height: 21px;
    }

    .dropdown-user.active {
        top: 4.5rem;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .nav-bar {
        gap: 1rem;
        padding: 0 1.75rem 0;
        justify-content: space-between;
    }

    .cont-btn-menu {
        display: flex;
    }

    .btn-user-nav-bar {
        padding: 1rem;
    }

    .btn-user-nav-bar svg {
        width: 24px;
        height: 24px;
    }

    .btn-user-nav-bar h2 {
        font-size: 14px;
        margin-left: 10px;
        margin-right: 3px;
    }

    .btn-profile-nav-bar {
        padding-right: 0;
    }

    .dropdown-user {
        min-width: 250px;
    }

    .nav-dropdown {
        gap: 5px;
    }

    .item-nav-dropdown {
        border-radius: 6px;
        font-size: 15px;
        align-items: flex-start;
    }
    
    .dropdown-user.active {
        top: 4.5rem;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .btn-user-nav-bar:nth-child(2) h2 {
        display: none;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .nav-bar {
        padding: 0 1.5rem 0;
    }

    .btn-user-nav-bar {
        padding: 1.3rem 1rem 1.3rem;
    }

    .btn-user-nav-bar h2 {
        display: none;
    }

    .btn-profile-nav-bar {
        padding-right: 0;
    }

    .dropdown-user {
        min-width: 200px;
        transition: none;
    }

    .top-dropdown {
        flex-direction: row;
        padding: 1rem 1.2rem 1rem;
        gap: 10px;
        align-items: flex-start;
    }

    .top-dropdown svg {
        width: 35px;
        height: 35px;
    }

    .nav-dropdown {
        gap: 5px;
    }

    .item-nav-dropdown {
        border-radius: 6px;
        font-size: 14px;
    }

    .dropdown-user.active {
        top: 4.8rem;
        transition: none;
    }
}