.side-bar {
    display: flex;
    width: 300px;
    height: 100vh;
    position: fixed;
    background-color: #212026;
    flex-direction: column;
    padding: 2rem;
    border-right: 1px solid #89888C;
    z-index: 1;
}

    .top-side-bar {
        display: flex;
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 0.75rem;
        border-bottom: 1px solid #89888C;
    }

        .top-side-bar img {
            width: 85%;
        }

    .nav-side-bar {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }

        .item-nav-side-bar {
            display: flex;
            text-decoration: none;
            color: #F2F2F2 !important;
            padding: 14px 1.2rem 14px;
            border-radius: 10px;
            transition: 0.3s ease-in-out;
            gap: 5px;
            align-items: center;
        }

        .item-nav-side-bar svg {
            width: 22px;
            height: 22px;
        }

        .item-nav-side-bar h2 {
            display: flex;
            font-size: 16px;
            font-weight: 400;
        }

        .item-nav-side-bar:hover {
            background-color: #0E0E10;
            transition: 0.25s ease-in;
        }

        .item-selected-nav-side-bar {
            background-color: #A9D9CB;
            color: #0B0B0D !important;
        }

        .item-selected-nav-side-bar:hover {
            background-color: #0B0B0D;
            transition: 0.25s ease-in;
            color: #F2F2F2 !important;
        }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .side-bar {
        width: 280px;
        padding: 2rem;
    }

    .top-side-bar {
        padding-bottom: 0.6rem;
        border-bottom: 1px solid #89888C;
    }

    .top-side-bar img {
        width: 80%;
    }

    .nav-side-bar {
        margin-top: 1.5rem;
        gap: 1rem;
        padding-bottom: 1rem;
    }
    
    .item-nav-side-bar {
        padding: 12px 1rem 12px;
        border-radius: 6px;
    }

    .item-nav-side-bar svg {
        width: 20px;
        height: 20px;
    }

    .item-nav-side-bar h2 {
        display: flex;
        font-size: 15px;
        font-weight: 400;
    }
}

/* Responsive 1280px */
@media screen and (max-width: 1280px) {
    .side-bar {
        display: flex;
        top: 3.6rem;
        height: 0vh;
        height: -webkit-fill-available;
        overflow: auto;
        transition: .25s;
        flex-direction: column;
        transform: translateX(-100%);
        left: 0;
        opacity: 0;
    }

    .side-bar.active{
        opacity: 1;
        height: 100vh;
        transform: translate(0) !important;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .side-bar.active {
        display: flex;
        width: 250px;
        top: 4.2rem;
        padding: 1.7rem;
        transform: translate(0) !important;
    }

    .top-side-bar {
        display: none;
    }

    .nav-side-bar {
        margin-top: .5rem;
    }

    .item-selected-nav-side-bar {
        background-color: transparent;
        color: #F2F2F2 !important;
    }
}