.btm-module-form {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    margin-top: 1rem;
}

    .btn-module-form {
        display: flex;
        width: auto;
        height: auto;
        padding: 10px 2rem 10px;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        outline: none;
        font-size: 15.5px;
        border-radius: 7px;
        border: none;
        transition: 0.2s ease-in-out;
        text-decoration: none;
    }

    .btn-module-form:hover {
        opacity: 0.7;
        transition: 0.2s ease-in;
    }

    .btn-cancel-module-form {
        background-color: #F20544;
        color: #F2F2F2;
    }

    .btn-submit-module-form {
        background-color: #A9D9CB;
        color: #0B0B0D;
        font-weight: 500;
    }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .btm-module-form {
        margin-top: 0.7rem;
    }
    
    .btn-module-form {
        font-size: 14px;
        border-radius: 6px;
    }
}

/* Responsive 600px */
@media screen and (max-width: 600px) {
    .btm-module-form {
        gap: 0.7rem;
        flex-direction: column;
    }
    
    .btn-module-form {
        width: 100%;
        padding: 10px 12px 10px;
    }
}