.form-module {
    display: flex;
    width: 100%;
    height: auto;
    background-color: #212026;
    flex-direction: column;
    margin-top: 3rem;
    padding: 3rem;
    border-radius: 8px;
    gap: 1.5rem;
}

    .form-module h1 {
        color: #F2F2F2;
        font-size: 1.6rem;
        font-weight: 500;
    }

    .group-form-module {
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 8px;
    }

        .group-form-module label {
            font-weight: 500;
            font-size: 17px;
            color: #F2F2F2;
        }

        .group-form-module input, 
        .group-form-module textarea {
            display: flex;
            width: 100%;
            height: auto;
            padding: 10px 1rem 10px;
            font-size: 15.5px;
            background: transparent;
            border: 1px solid #89888C;
            outline: none;
            border-radius: 5px;
            color: #F2F2F2;
            transition: 0.2s ease-in-out;
        }

        .group-form-module textarea {
            field-sizing: content;
            min-height: 100px;
        }

        .group-form-module input:focus,
        .group-form-module textarea:focus {
            border: 1px solid #F2F2F2;
            transition: 0.2s ease-in;
        }

        .group-form-module input::-webkit-input-placeholder,
        .group-form-module textarea::-webkit-input-placeholder {
            color: #89888C;
        }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .form-module {
        padding: 2.8rem;
        border-radius: 6px;
        gap: 1.2rem;
    }

    .form-module h1 {
        font-size: 1.5rem;
    }

    .group-form-module {
        gap: 6px;
    }

    .group-form-module label {
        font-size: 16px;
    }

    .group-form-module input, 
    .group-form-module textarea {
        padding: 9px 1rem 9px;
        font-size: 14px;
        border-radius: 4px;
    }

    .group-form-module textarea {
        min-height: 90px;
    }
}

/* Responsive 600px */
@media screen and (max-width: 600px) {
    .form-module {
        padding: 2.5rem;
        border-radius: 5px;
        gap: 1.1rem;
    }

    .form-module h1 {
        font-size: 1.4rem;
    }

    .group-form-module {
        gap: 5px;
    }

    .group-form-module textarea {
        min-height: 80px;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .form-module h1 {
        font-size: 1.3rem;
    }

    .group-form-module {
        gap: 8px;
    }

    .group-form-module label {
        font-size: 15px;
    }

    .group-form-module textarea {
        min-height: 100px;
    }
}