.contact-us {
    display: flex;
    width: 100%;
    height: auto;
    border-top: 1px solid #89888C;
    border-bottom: 1px solid #89888C;
    padding: 6rem 15rem 6rem;
}

    .social-media-contact,
    .form-contact {
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .social-media-contact {
        width: 60%;
    }

    .social-media-contact h1 {
        font-size: 32px;
    }

    .social-media-contact p {
        font-size: 16px;
        margin: 10px 0 3rem;
        width: 50ch;
        line-height: 24px;
    }

    .social-media-contact h2 {
        font-size: 20px;
        font-weight: 500;
    }

    .social-media-contact h4 {
        font-size: 16px;
        margin: 8px 0 1.5rem;
        font-weight: 500;
    }

    .social-media-items-contact {
        display: flex;
        width: 100%;
        gap: 12px;
        margin-top: 2.5rem;
    }

        .social-media-items-contact a svg {
            width: 24px;
            height: 24px;
            color: #89888C !important;
            transition: .3s ease-in-out;
        }

            .social-media-items-contact a svg:hover {
                color: #F2F2F2 !important;
                transition: .2s ease-in;
            }

    .form-contact {
        width: 40%;
    }

        .form-contact h1 {
            font-size: 26px;
            margin-bottom: 2rem;
        }

        .form-contact-group {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: column;
            margin-bottom: 2rem;
        }

            .form-contact-group label {
                font-size: 18px;
            }

            .form-contact-group input,
            .form-contact-group select,
            .form-contact-group textarea {
                font-size: 16px;
                margin-top: 1rem;
                padding: 14px 1rem 14px;
                border: 1px solid #89888C;
                border-radius: 7px;
                outline: none;
                background: transparent;
                transition: .4s ease-in-out;
            }

            .form-contact-group select {
                cursor: pointer;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            .form-contact-group textarea {
                field-sizing: content;
                min-height: 100px;
            }

            .form-contact-group input::-webkit-input-placeholder,
            .form-contact-group textarea::-webkit-input-placeholder {
                color: #89888C;
            }

            .form-contact-group input:focus,
            .form-contact-group select:focus,
            .form-contact-group textarea:focus {
                border: 1px solid #F2F2F2;
                transition: .4s ease-in;
                color: #F2F2F2;
            }

            .btn-submit-contact {
                display: flex;
                width: 100%;
                height: auto;
                padding: 1rem;
                align-items: center;
                justify-content: center;
                text-align: center;
                font-size: 16px;
                border-radius: 8px;
                border: 1px solid transparent;
                transition: .3s ease-in-out;
                cursor: pointer;
            }

                .btn-submit-contact:hover {
                    background-color: #0B0B0D;
                    border: 1px solid white;
                    transition: .3s ease-in;
                }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .contact-us {
        padding: 6rem 12rem 6rem;
    }

    .social-media-contact {
        width: 55%;
    }

    .social-media-contact h1 {
        font-size: 27px;
        font-weight: 600;
    }

    .social-media-contact p {
        font-size: 15px;
        width: 45ch;
    }

    .social-media-contact h2 {
        font-size: 18px;
    }

    .social-media-contact h4 {
        font-size: 15px;
    }

    .social-media-items-contact {
        margin-top: 2.2rem;
    }

    .social-media-items-contact a svg {
        width: 22px;
        height: 22px;
    }

    .form-contact {
        width: 45%;
    }

    .form-contact h1{
        font-size: 23px;
        font-weight: 550;
    }

    .form-contact-group label {
        font-size: 16px;
    }

    .form-contact-group input,
    .form-contact-group select,
    .form-contact-group textarea {
        font-size: 15px;
        margin-top: 12px;
        padding: 12px 14px 12px;
    }

    .btn-submit-contact {
        font-size: 15px;
    }
}

/* Responsive 1280px */
@media screen and (max-width: 1280px) {
    .contact-us {
        padding: 5rem 9rem 5rem;
    }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .contact-us {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 6rem;
        padding: 6rem 12rem 6rem;
    }

    .social-media-contact,
    .form-contact {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
        
    .social-media-items-contact {
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .form-contact h1 {
        margin-bottom: 3rem;
    }

    .form-contact-group {
        text-align: start;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .contact-us {
        padding: 6rem 8rem 6rem;
    }

    .social-media-contact p {
        width: 80%;
        margin-top: 1rem;
    }
}

/* Responsive 600px */
@media screen and (max-width: 600px) {
    .contact-us {
        padding: 6rem 3rem 6rem;
    }
}