.header-company {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 14px 7rem 14px;
    border-bottom: 1px solid #212026;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: rgba(11, 11, 13, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

    .nav-logo--company {
        display: flex;
        width: 25%;
    }

        .nav-logo--company img{
            height: 50px;
        }

    .nav-list--company {
        display: flex;
        width: 50%;
        height: 100%;
        list-style: none;
        background: transparent;
    }

        .sect-list-nav-list--company {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            gap: 3rem;
            background: transparent;
        }

        .item-nav-list--company {
            display: flex;
            font-size: 15px;
            color: #89888C;
            cursor: pointer;
        }

        .item-nav-list--company svg {
            display: none;
        }
        
        .item-nav-list--company:hover {
            color: white;
            transition: .5s ease all;
        }

        .sect-user-nav-list--company {
            display: none;
        }

    .nav-user--company {
        display: flex;
        width: auto;
        min-width: 25%;
        justify-content: flex-end;
        gap: 1.2rem;
    }

        .btn-header--company {
            display: flex;
            width: auto;
            height: auto;
            align-items: center;
            justify-content: center;
            padding: 12px 2rem 12px;
            border-radius: 12px;
            font-size: 15px;
        }

            .btn-login-header--company {
                border: 1px solid #212026;
                background-color: #212026;
            }

                .btn-login-header--company:hover {
                    background-color: #0B0B0D;
                    border: 1px solid white;
                    transition: .3s ease-in;
                }

            .btn-signin-header--company {
                background-color: #0B0B0D;
                border: 1px solid white;
            }

                .btn-signin-header--company:hover {
                    background-color: #212026;
                    border: 1px solid #212026;
                    transition: .3s ease-in;
                }

        .btn-menu--company {
            display: none;
        }

/* Responsive 1440px */
@media screen and (max-width: 1440px) {
    .nav-logo--company {
        width: 20%;
    }

    .nav-list--company {
        width: 60%;
    }

    .nav-user--company {
        width: 20%;
    }

    .nav-logo--company img{
        height: 45px;
    }

    .item-nav-list--company {
        font-size: 14.5px;
    }

    .nav-user--company {
        gap: 1rem;
    }

    .btn-header--company {
        padding: 10px 22px 10px;
        font-size: 14.5px;
    }

    .btn-login-header--company {
        padding: 10px 25px 10px;
    }
}


/* Responsive 1280px */
@media screen and (max-width: 1280px) {
    .header-company {
        padding: 12px 5.5rem 12px;
    }

    .nav-logo--company,
    .nav-logo--company {
        width: auto;
    }

    .nav-logo--company img{
        height: 47px;
    }

    .sect-list-nav-list--company {
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        height: auto;
        gap: 2rem;
    }

    .nav-list--company {
        display: flex;
        position: absolute;
        top: 4.75rem;
        width: 25%;
        min-width: 260px;
        height: -webkit-fill-available;
        min-height: 100vh;
        overflow: auto;
        transition: .3s;
        transform: translateX(-100%);
        left: 0;
        border-right: 1px solid #212026;
        background-color: #0B0B0D;
        flex-direction: column;
        padding-top: 2rem;
    }

        .nav-list--company.active{ 
            transform: translate(0) !important;
        }

    .item-nav-list--company {
        color: white;
        margin: 0 2.5rem 0;
        align-items: flex-end;
        font-size: 14px;
    }

        .item-nav-list--company svg{
            display: flex;
            width: 19px;
            height: 19px;
            margin-right: 10px;
        }

    .sect-user-nav-list--company {
        display: flex;
        width: auto;
        height: 30%;
        flex-direction: column;
        gap: 2rem;
        padding-top: 2.5rem;
        margin-top: 2rem;
        border-top: 1px solid #212026;
        background-color: #0B0B0D;
    }

        .sect-user-nav-list--company a {
            width: auto;
            color: #89888C;
        }

        .sect-user-nav-list--company a:hover {
            color: white;
            transition: .3s ease all;
        }

    .btn-header--company {
        display: none;
    }

    .btn-menu--company {
        display: flex;
        width: 30px;
        height: 30px;
        border: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

        .btn-menu--company svg {
            width: 100%;
            height: 100%;
        }
}

/* Responsive 1024px */
@media screen and (max-width: 1024px) {
    .header-company {
        padding: 12px 5rem 12px;
    }

    .nav-logo--company img {
        height: 45px;
    }

    .nav-list--company {
        top: 4.6rem;
    }

    .btn-menu--company {
        width: 28px;
        height: 28px;
    }
}

/* Responsive 768px */
@media screen and (max-width: 768px) {
    .header-company {
        padding: 12px 2.5rem 12px;
    }

    .nav-logo--company img {
        height: 42px;
    }

    .nav-list--company {
        top: 4.45rem;
    }
}

/* Responsive 425px */
@media screen and (max-width: 425px) {
    .header-company {
        padding: 14px 2.2rem 14px;
        backdrop-filter: none;
        background-color: #0B0B0D;
    }

    .nav-list--company {
        top: 4.7rem;
    }
}